@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #f7eee5;
}

.nav-container {
    margin-top: -2.3em;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f7eee5;
    border-bottom: 2px solid #f0fff0cb;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 30px 30px;
    width: max-content;
    text-shadow: 1px 1px 2px #020202b2;
    font-family: kosugi maru;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1em;
    display:block;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.4em auto;
    line-height: 2.3em;
    gap: 2em;
}

.nav-logo span{
    color: #333;
    font-size: 2.5rem;
    text-shadow: 2px 3px 3px #cdffcdcb,
            3px 6px 6px #cdffcdcb,
        4px 7px 3px #333;
    font-family: yusei magic;
    font-weight: bold;
    z-index: 0;
}

.logo {
    width: 150px;
    /*position: absolute;
    z-index: 1;
    top: 15%;
    left: 30%;
    transform: translate(120%, -15%);*/
}

.background-elements, .menu-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.background-elements h2 {
    margin-top: 3em;
    font-family: 'Nunito';
    font-size: 2rem;
    color: aquamarine;
    text-shadow: 2px 2px 3px black,
                    2px 2px 6px black
    ;
}

.background-elements img {
    width: 800px;
    margin-top: 4em;
}

.menu-elements {
    margin: 6em 15em;
    width: 800px;
}

.menu-elements img {
    width: 200px;
}

.temp {
    margin-top: -16em;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .nav-logo {
        flex-direction: column; /* Stack logo and text vertically */
        gap: 0.5rem;
    }

    .nav-logo img.logo {
        width: 80px; /* Resize logo for smaller screens */
    }

    .nav-logo span {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}