@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    margin: 0 0 4em;
    padding: 0;
    background: linear-gradient(90deg, #847965, #c8c5ba);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-container {
    margin-top: -2.3em;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #847965, #c8c5ba);
    border-bottom: 2px solid #f0fff0cb;
}

.navbar li {
    list-style-type: none;
    flex: 1;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 30px 30px;
    width: max-content;
    text-shadow: 1px 1px 2px #020202b2;
    font-family: 'Cinzel';
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1em;
    display:block;
}

.navbar a.active-underline {
    text-decoration-thickness: 3px;
    text-underline-offset: .5em;
    color: #861c1c;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.4em auto;
    line-height: 2.3em;
    gap: 2em;
}

.nav-logo span {
    font-size: 2.5rem;
    color: #333;    
    text-shadow: 2px 3px 3px #cdffcdcb,
            3px 6px 6px #cdffcdcb,
        4px 7px 3px #333;
    font-family: yusei magic;
    font-weight: bold;
    z-index: 0;
}

.logo {
    width: 200px;
    /*position: absolute;
    z-index: 1;
    top: 15%;
    left: 30%;
    transform: translate(120%, -15%);*/
}

.logoElement {
    width: 200px;
}

.left-logo {
    transform: rotate(2deg);
    margin-right: -30px;
}

.right-logo {
    transform: rotate(-2deg);
    margin-left: -30px;
}

.background-elements, .menu-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-elements {
    padding: 1em 3em;
}

.background-elements p {
    font-family: 'Cinzel';
    font-size: 1.3rem;
}

.background-elements h2 {
    font-family: 'Cinzel';
    font-size: 2rem;
    color: #e5f0c6;
    text-align: center;
    padding: 0 2em;
    text-shadow: 3px 3px 3px black;
}

.menu-elements {
    margin: 6em 5em;
    width: 400px;
    display: flex;
    flex-direction: column;
    /*background-color: #333;*/
    padding: 2em;
    align-content: flex-start;
    gap: 3.3em;
}

.menu-elements img {
    width: 150px;
}

.menu-png {
    width: 100%;
}

.temp {
    margin-top: -16em;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .nav-logo {
        flex-direction: column; /* Stack logo and text vertically */
        gap: 0.5rem;
    }

    .nav-logo img.logo {
        width: 150px; /* Resize logo for smaller screens */
    }

    .nav-logo span {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    nav.nav-container {
        margin-top: 1em;
    }

    .background-elements h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    .menu-elements {
        margin: 1em;
    }

    .background-elements img {
        max-width: 90%;
        margin: 1em;
    }

    .logoElement {
        display: none;
    }
}
